/CMAPSSData/Damage Propagation Modeling.pdf
/CMAPSSData/train_FD004.txt
/CMAPSSData/train_FD003.txt
/CMAPSSData/train_FD002.txt
/CMAPSSData/test_FD004.txt
/CMAPSSData/test_FD003.txt
/CMAPSSData/test_FD002.txt
/CMAPSSData/RUL_FD004.txt
/CMAPSSData/RUL_FD003.txt
/CMAPSSData/RUL_FD002.txt
